# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [20]:
import numpy as np
import pandas as pd

# Challenge 1 - Iterators, Generators and `yield`. 

In iterator in Python is an object that represents a stream of data. However, iterators contain a countable number of values. We traverse through the iterator and return one value at a time. All iterators support a `next` function that allows us to traverse through the iterator. We can create an iterator using the `iter` function that comes with the base package of Python. Below is an example of an iterator.

In [ ]:
# We first define our iterator:

iterator = iter([1,2,3])

# We can now iterate through the object using the next function

print(next(iterator))

In [ ]:
# We continue to iterate through the iterator.

print(next(iterator))

In [ ]:
print(next(iterator))

In [ ]:
# After we have iterated through all elements, we will get a StopIteration Error

print(next(iterator))

In [ ]:
# We can also iterate through an iterator using a for loop like this:
# Note: we cannot go back directly in an iterator once we have traversed through the elements. 
# This is why we are redefining the iterator below

iterator = iter([1,2,3])

for i in iterator:
    print(i)

In the cell below, write a function that takes and returns the first element in the iterator that is divisible by 2. Assume that all iterators contain only numeric data. If we have not found a single element that is divisible by 2, return zero.

In [ ]:
    # This function takes an iterable and returns the first element that is divisible by 2 and zero otherwise
    # Input: Iterable
    # Output: Integer
    
    # Sample Input: iter([1,2,3])
    # Sample Output: 2
    
    # Your code here:

In [ ]:
x = iter([1,2,3])

def divisible2(iterator):
    for i in iterator:
        if i % 2 == 0:
            yield i

list(divisible2(x))

### Generators

It is quite difficult to create your own iterator since you would have to implement a `next` function. Generators are functions that enable us to create iterators. The difference between a function and a generator is that instead of using `return`, we use `yield`. For example, below we have a function that returns an iterator containing the numbers 0 through n:

In [ ]:
def firstn(n):
     number = 0
     while number < n:
         yield number
         number = number + 1

If we pass 5 to the function, we will see that we have a iterator containing the numbers 0 through 4.

In [ ]:
iterator = firstn(5)

for i in iterator:
    print(i)

In the cell below, create a generator that takes a number and returns an iterator containing all even numbers between 0 and the number you passed to the generator.

In [ ]:
    # This function produces an iterator containing all even numbers between 0 and n
    # Input: integer
    # Output: iterator
    
    # Sample Input: 5
    # Sample Output: iter([0, 2, 4])
    
    # Your code here:

In [4]:
def gen_1(n):
    for i in range(n):
        if i % 2 == 0:
            yield i
            
list(gen_1(5))

[0, 2, 4]

# Challenge 2 - Applying Functions to DataFrames

In this challenge, we will look at how to transform cells or entire columns at once.

First, let's load a dataset. We will download the famous Iris classification dataset in the cell below.

In [7]:
columns = ['sepal_length', 'sepal_width', 'petal_length','petal_width','iris_type']
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data", names=columns)

Let's look at the dataset using the `head` function.

In [8]:
# Your code here:

iris.head()

   sepal_length  sepal_width  petal_length  petal_width    iris_type
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

Let's start off by using built-in functions. Try to apply the numpy mean function and describe what happens in the comments of the code.

In [25]:
# Your code here

np.mean(iris)

sepal_length    5.843333
sepal_width     3.054000
petal_length    3.758667
petal_width     1.198667
dtype: float64

Next, we'll apply the standard deviation function in numpy (`np.std`). Describe what happened in the comments.

In [26]:
# Your code here:

np.std(iris)

sepal_length    0.825301
sepal_width     0.432147
petal_length    1.758529
petal_width     0.760613
dtype: float64

The measurements are in centimeters. Let's convert them all to inches. First, we will create a dataframe that contains only the numeric columns. Assign this new dataframe to `iris_numeric`.

In [125]:
# Your code here:

iris_numeric = iris._get_numeric_data()

iris_numeric.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

Next, we will write a function that converts centimeters to inches in the cell below. Recall that 1cm = 0.393701in.

In [200]:
def cm_to_in(x):
    # This function takes in a numeric value in centimeters and converts it to inches
    # Input: numeric value
    # Output: float
    
    # Sample Input: 1.0
    # Sample Output: 0.393701
    
    # Your code here:
    tr = 0.393701
    yield x * tr

Now convert all columns in `iris_numeric` to inches in the cell below. We like to think of functional transformations as immutable. Therefore, save the transformed data in a dataframe called `iris_inch`.

In [201]:
#Prueba 1, voler a este ejercicio para convertir objetos 

x = iris_numeric.applymap(cm_to_in)
x

,sepal_length,sepal_width,petal_length,petal_width
0,<generator object cm_to_in at 0x000001F3FDE6D7B0>,<generator object cm_to_in at 0x000001F3FDB70740>,<generator object cm_to_in at 0x000001F3FDB5A9E0>,<generator object cm_to_in at 0x000001F3FDB72C80>
1,<generator object cm_to_in at 0x000001F3FDE6D820>,<generator object cm_to_in at 0x000001F3FDB707B0>,<generator object cm_to_in at 0x000001F3FDB5AA50>,<generator object cm_to_in at 0x000001F3FDB72CF0>
2,<generator object cm_to_in at 0x000001F3FDE6D890>,<generator object cm_to_in at 0x000001F3FDB70820>,<generator object cm_to_in at 0x000001F3FDB5AAC0>,<generator object cm_to_in at 0x000001F3FDB72D60>
3,<generator object cm_to_in at 0x000001F3FDE6D900>,<generator object cm_to_in at 0x000001F3FDB70890>,<generator object cm_to_in at 0x000001F3FDB5AB30>,<generator object cm_to_in at 0x000001F3FDB72DD0>
4,<generator object cm_to_in at 0x000001F3FDE6D970>,<generator object cm_to_in at 0x000001F3FDB70900>,<generator object cm_to_in at 0x000001F3FDB5ABA0>,<generator object cm_to_in at 0x000001F3FDB72E40>
...,...,...,...,...
145,<generator object cm_to_in at 0x000001F3FDB70510>,<generator object cm_to_in at 0x000001F3FDB5A7B0>,<generator object cm_to_in at 0x000001F3FDB72A50>,<generator object cm_to_in at 0x000001F3FDE18CF0>
146,<generator object cm_to_in at 0x000001F3FDB70580>,<generator object cm_to_in at 0x000001F3FDB5A820>,<generator object cm_to_in at 0x000001F3FDB72AC0>,<generator object cm_to_in at 0x000001F3FDE18D60>
147,<generator object cm_to_in at 0x000001F3FDB705F0>,<generator object cm_to_in at 0x000001F3FDB5A890>,<generator object cm_to_in at 0x000001F3FDB72B30>,<generator object cm_to_in at 0x000001F3FDE18DD0>
148,<generator object cm_to_in at 0x000001F3FDB70660>,<generator object cm_to_in at 0x000001F3FDB5A900>,<generator object cm_to_in at 0x000001F3FDB72BA0>,<generator object cm_to_in at 0x000001F3FDE18E40>
149,<generator object cm_to_in at 0x000001F3FDB706D0>,<generator object cm_to_in at 0x000001F3FDB5A970>,<generator object cm_to_in at 0x000001F3FDB72C10>,<generator object cm_to_in at 0x000001F3FDE18EB0>

In [202]:
# Your code here:

iris_inch = cm_to_in(iris_numeric)

list(iris_inch)

[     sepal_length  sepal_width  petal_length  petal_width
 0        3.582679     2.952758      2.125985     1.653544
 1        3.503939     2.755907      2.125985     1.653544
 2        3.425199     2.834647      2.086615     1.653544
 3        3.385829     2.795277      2.165355     1.653544
 4        3.543309     2.992128      2.125985     1.653544
 ..            ...          ...           ...          ...
 145      4.212601     2.755907      3.622049     2.480316
 146      4.055120     2.559057      3.543309     2.322836
 147      4.133860     2.755907      3.622049     2.362206
 148      4.015750     2.913387      3.700789     2.480316
 149      3.897640     2.755907      3.582679     2.283466

 [150 rows x 4 columns]]

We have just found that the original measurements were off by a constant. Define the global constant `error` and set it to 2. Write a function that uses the global constant and adds it to each cell in the dataframe. Apply this function to `iris_numeric` and save the result in `iris_constant`.

In [175]:
# Define constant below:


def add_constant(x):
    # This function adds a global constant to our input.
    # Input: numeric value
    # Output: numeric value
    
    # Your code here:
    error = 2
    x += error
    yield x

In [170]:
iris_constant = add_constant(iris_numeric)

list(iris_constant)

[     sepal_length  sepal_width  petal_length  petal_width
 0             9.1          7.5           5.4          4.2
 1             8.9          7.0           5.4          4.2
 2             8.7          7.2           5.3          4.2
 3             8.6          7.1           5.5          4.2
 4             9.0          7.6           5.4          4.2
 ..            ...          ...           ...          ...
 145          10.7          7.0           9.2          6.3
 146          10.3          6.5           9.0          5.9
 147          10.5          7.0           9.2          6.0
 148          10.2          7.4           9.4          6.3
 149           9.9          7.0           9.1          5.8

 [150 rows x 4 columns]]

# Bonus Challenge - Applying Functions to Columns

Read more about applying functions to either rows or columns [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html) and write a function that computes the maximum value for each row of `iris_numeric`

In [188]:
# Your code here:

max_v = iris_numeric.apply(max)
max_v

sepal_length    11.9
sepal_width      8.4
petal_length    10.9
petal_width      6.5
dtype: float64

Compute the combined lengths for each row and the combined widths for each row using a function. Assign these values to new columns `total_length` and `total_width`.

In [219]:
# Your code here:

shape = np.shape(iris_numeric)
print(shape)

(150, 4)

In [221]:
total_lenght = len(iris_numeric)
print(total_lenght)

150

In [228]:
total_width = len(iris_numeric.columns)
print(total_width)

4